In [119]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [3]:
storedf = pd.read_csv('googleplaystore.csv')

In [104]:
storedf.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Converted Size
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up,19
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up,14
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up,8.7
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up,25
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up,2.8

In [53]:
storedf['Category'].unique()

array(['ART_AND_DESIGN', 'AUTO_AND_VEHICLES', 'BEAUTY',
       'BOOKS_AND_REFERENCE', 'BUSINESS', 'COMICS', 'COMMUNICATION',
       'DATING', 'EDUCATION', 'ENTERTAINMENT', 'EVENTS', 'FINANCE',
       'FOOD_AND_DRINK', 'HEALTH_AND_FITNESS', 'HOUSE_AND_HOME',
       'LIBRARIES_AND_DEMO', 'LIFESTYLE', 'GAME', 'FAMILY', 'MEDICAL',
       'SOCIAL', 'SHOPPING', 'PHOTOGRAPHY', 'SPORTS', 'TRAVEL_AND_LOCAL',
       'TOOLS', 'PERSONALIZATION', 'PRODUCTIVITY', 'PARENTING', 'WEATHER',
       'VIDEO_PLAYERS', 'NEWS_AND_MAGAZINES', 'MAPS_AND_NAVIGATION',
       '1.9'], dtype=object)

In [34]:
#Percentages for categories.
storedf['Category'].value_counts()/storedf['Category'].count()

FAMILY                 0.181902
GAME                   0.105525
TOOLS                  0.077760
MEDICAL                0.042708
BUSINESS               0.042432
PRODUCTIVITY           0.039111
PERSONALIZATION        0.036159
COMMUNICATION          0.035698
SPORTS                 0.035421
LIFESTYLE              0.035237
FINANCE                0.033761
HEALTH_AND_FITNESS     0.031455
PHOTOGRAPHY            0.030901
SOCIAL                 0.027212
NEWS_AND_MAGAZINES     0.026105
SHOPPING               0.023983
TRAVEL_AND_LOCAL       0.023799
DATING                 0.021585
BOOKS_AND_REFERENCE    0.021308
VIDEO_PLAYERS          0.016142
EDUCATION              0.014390
ENTERTAINMENT          0.013744
MAPS_AND_NAVIGATION    0.012637
FOOD_AND_DRINK         0.011715
HOUSE_AND_HOME         0.008117
LIBRARIES_AND_DEMO     0.007841
AUTO_AND_VEHICLES      0.007841
WEATHER                0.007564
ART_AND_DESIGN         0.005996
EVENTS                 0.005904
PARENTING              0.005535
COMICS                 0.005535
BEAUTY                 0.004889
1.9                    0.000092
Name: Category, dtype: float64

In [59]:
storedf['Genres'].nunique()

120

In [62]:
#Lets find the average size of each application. 

storedf['Size']

0                       19M
1                       14M
2                      8.7M
3                       25M
4                      2.8M
                ...
10836                   53M
10837                  3.6M
10838                  9.5M
10839    Varies with device
10840                   19M
Name: Size, Length: 10841, dtype: object

In [120]:
# First we have to make a function that will find values that end with "M". All other values will be given the value False.

def convertSize(x):
    if x.count('M',-1) == 1:
        x = float(x.strip('M'))
        return x
    else:
        x = np.NaN
        return x

#We then use the apply our function onto our data frame and create a new column out of it.
    
storedf['Converted Size'] = storedf['Size'].apply(convertSize)

#And view the newly created column.

storedf['Converted Size']

0        19.0
1        14.0
2         8.7
3        25.0
4         2.8
         ...
10836    53.0
10837     3.6
10838     9.5
10839     NaN
10840    19.0
Name: Converted Size, Length: 10841, dtype: float64

In [103]:
#From there we can find the average size of our apps in the Google Play Store. 

storedf[storedf['Converted Size'] != False]['Converted Size'].mean()

22.270540265035574

In [121]:
def convertInstalls(x):
    if x.count('+',-1) == 1:
        x = x.strip('+')
        x = int(x.replace(',',''))
        return x
    else:
        x = np.NaN
        return x

storedf['Converted Installs'] = storedf['Installs'].apply(convertInstalls)

In [122]:
storedf[['Installs','Converted Installs']]

          Installs  Converted Installs
0          10,000+             10000.0
1         500,000+            500000.0
2       5,000,000+           5000000.0
3      50,000,000+          50000000.0
4         100,000+            100000.0
...            ...                 ...
10836       5,000+              5000.0
10837         100+               100.0
10838       1,000+              1000.0
10839       1,000+              1000.0
10840  10,000,000+          10000000.0

[10841 rows x 2 columns]

In [123]:
storedf.corr()

                      Rating  Converted Size  Converted Installs
Rating              1.000000        0.075788            0.051355
Converted Size      0.075788        1.000000            0.162557
Converted Installs  0.051355        0.162557            1.000000

In [140]:
display(storedf['Reviews'].unique())

array(['159', '967', '87510', ..., '603', '1195', '398307'], dtype=object)

In [137]:
len(storedf['Reviews'])

10841